.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    height: var(--navbar_height);
    z-index: 100;
   .sub{
    height: 100%;
    .container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
            color: #fff;
            text-transform: uppercase;
            font-weight: 200;
            &:hover{
                color: var(--color_primary);
            }
        }
        .right{
            display: flex;
            align-items: center;
            gap: 16px;
            .nav_link{
                display: block;
                text-transform: uppercase;
                font-weight: 200;
                color: #fff;
                &:hover{
                    color: var(--color_primary);
                }
            }
        }
        .toggle_nav{
            display: none;
        }
    }
   }
   .nav_mobile{
    display: none;
   }
}

@media (max-width: 1023px) {
    .navbar{
        .sub{
            .container{
                .right{
                    display: none;
                }
                .toggle_nav{
                    display: flex;
                    height: 100%;
                    align-items: center;
                    cursor: pointer;
                    img{
                        border-radius: 4px;
                        height: 90%;
                        object-fit: cover;
                    }
                }
            }
            
        }
        .nav_mobile{
            display: flex;
            flex-direction:column;
            position: absolute;
            top: 100%;
            width: 100%;
            background-color: #000;
            animation: nav_mobile linear 400ms;
            overflow: hidden;
            .nav_item{
                .nav_link{
                    display: block;
                    color: #fff;
                    padding: 12px 16px;
                    text-transform: uppercase;
                    &:hover{
                        color: var(--color_primary);
                    }
                    &:active{
                        color: var(--color_primary);
                    }
                }
            }
            @keyframes nav_mobile {
                from{
                    height: 0;
                }
            }
        }
    }
}