.navbar{
    background-color: #000;
    height: var(--navbar_height);
   .sub{
    height: 100%;
    .container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .right{
            display: flex;
            align-items: center;
            gap: 16px;
            .nav_link{
                display: block;
                text-transform: uppercase;
                font-weight: 200;
                color: #fff;
                &:hover{
                    color: var(--color_primary);
                }
            }
        }
    }
   }
}